<a href="https://colab.research.google.com/github/sofiamasha/curso_python_alura/blob/main/aula_1_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#pd é abreviação da biblioteca pandas

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [4]:
#ler a base de dados que criei a cima
df.head()
#dentro desse parenteses coloco a quantidade de linhas q quero exibir

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [6]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [7]:
df.shape
#vetor de duas posições
#é um atributo, não uma função, por isso nao tem parenteses
#dimensao arquivo
#133349 linhas e 11 colunas

(133349, 11)

In [28]:
linhas, colunas = df.shape[0], df.shape[1]
print("linhas:", linhas)
print("colunas:", colunas)

linhas: 133349
colunas: 11

In [29]:
df.columns

Index(['ano_trabalho', 'nivel_experiencia', 'tipo_emprego', 'cargo', 'salario',
       'moeda_salario', 'salario_em_usd', 'residencia_empregado',
       'taxa_remoto', 'localizacao_empresa', 'tamanho_empresa'],
      dtype='object')

In [31]:
# Dicionário de renomeação
#mesma coisa do de cima
novos_nomes = {
    'work_year': 'ano',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'empresa',
    'company_size': 'tamanho_empresa'
}

# Aplicando renomeação
df.rename(columns=novos_nomes, inplace=True)

# Verificando resultado
df.head()

,ano_trabalho,nivel_experiencia,tipo_emprego,cargo,salario,moeda_salario,salario_em_usd,residencia_empregado,taxa_remoto,localizacao_empresa,tamanho_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [33]:

# O método .value_counts() serve para contar quantas vezes cada valor único aparece em uma coluna.
df['tamanho_empresa'].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [34]:
df["tipo_emprego"].value_counts()

tipo_emprego
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [26]:
df["taxa_remoto"].value_counts()

taxa_remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [36]:

tamanho_empresa = {
    'SE': 'senior',
    'MI': 'pleno',
    'EN': 'junior',
    'EX': 'executivo'
}
df['tamanho_empresa'] = df['tamanho_empresa'].replace(senioridade)
df['tamanho_empresa'].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [38]:

contrato = {
    'FT': 'integral',
    'PT': 'parcial',
    'CT': 'contrato',
    'FL': 'freelancer'
}
df['tipo_emprego'] = df['tipo_emprego'].replace(contrato)
df['tipo_emprego'].value_counts()

tipo_emprego
integral      132563
contrato         394
parcial          376
freelancer        16
Name: count, dtype: int64

In [39]:
df.head()

,ano_trabalho,nivel_experiencia,tipo_emprego,cargo,salario,moeda_salario,salario_em_usd,residencia_empregado,taxa_remoto,localizacao_empresa,tamanho_empresa
0,2025.0,SE,integral,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,integral,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,integral,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,integral,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,integral,Data Engineer,90000,USD,90000,US,0,US,M

In [40]:
df.describe(include='object')

,nivel_experiencia,tipo_emprego,cargo,moeda_salario,residencia_empregado,localizacao_empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,95,3
top,SE,integral,Data Scientist,USD,US,US,M
freq,77241,132563,17314,126140,119579,119641,129561

Com este projeto, é possível responder a diversas perguntas sobre a base de dados, como:

📈 Qual é o nível de experiência mais comum?

📄 Qual é o tipo de contrato mais frequente?

💼 Qual é o cargo mais presente na amostra?

🌍 De qual país são a maioria dos profissionais?

🏢 Em qual país estão sediadas a maior parte das empresas?

🖥 Qual é o regime de trabalho mais comum?

📊 Qual é o tamanho de empresa mais frequente?

O código apresenta um passo a passo para entender, limpar e preparar a base de dados, possibilitando análises mais detalhadas e facilitando a visualização de padrões e tendências no mercado de trabalho em ciência de dados.